.main {
  --primary-colour: rgb(118 81 220);
  --accent-colour: rgb(255 204 105);
}

.container {
  font-family: Arial, Helvetica, sans-serif;
}

.bento {
  padding: 1rem;
}
.bentoSlot {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--primary-colour);
  color: white;
}
.bentoSlot + .bentoSlot {
  margin-top: 1rem;
}

@media screen and (min-width: 1080px) {
  .main {
    padding: 10rem;
  }

  .container {
    padding: 2rem;
    border-radius: 1rem;
  }

  .bento {
    display: grid;
    grid-template-areas:
      "g a a d"
      "g b c d"
      "h f e e";
    gap: 1rem;
  }

  .bentoSlot {
    padding: 2rem;
    font-size: 2rem;
  }

  .bentoSlot + .bentoSlot {
    margin-top: 0;
  }

  .bentoSlotA {
    grid-area: a;
  }

  .bentoSlotB {
    grid-area: b;
    background-color: whitesmoke;
    color: #333;
  }

  .bentoSlotC {
    grid-area: c;
    background-color: goldenrod;
    color: #333;
  }

  .bentoSlotD {
    grid-area: d;
    background-color: palevioletred;
    color: #333;
  }

  .bentoSlotE {
    grid-area: e;
  }

  .bentoSlotF {
    grid-area: f;
    background-color: whitesmoke;
    color: #333;
  }

  .bentoSlotG {
    grid-area: g;
    background-color: whitesmoke;
    color: #333;
  }

  .bentoSlotH {
    grid-area: h;
    background-color: goldenrod;
    color: #333;
  }
}
