html,
body,
#root {
  margin: 0;
  padding: 0;
}

/* Reset the box-model */
div {
  box-sizing: border-box;
}

/* Pass down the box-sizing property */
*,
*::before,
*::after {
  box-sizing: inherit;
}
